# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
build.gradle
d1nj4n.iml
example/build.gradle
example/build/generated/assets/
example/build/generated/res/
example/build/generated/source/aidl/
example/build/generated/source/buildConfig/
example/build/generated/source/r/
example/build/generated/source/rs/
example/build/intermediates/builds/
example/build/intermediates/incremental/instantRunDependenciesApkBuilder/
example/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
example/build/intermediates/incremental/mergeDebugResources/aapt-temp/
example/build/intermediates/incremental/packageDebugAndroidTest/
example/build/intermediates/incremental/packageRelease/
example/build/intermediates/incremental/processDebugAndroidTestResources/
example/build/intermediates/incremental/processDebugResources/
example/build/intermediates/jniLibs/
example/build/intermediates/manifest/
example/build/intermediates/reload-dex/
example/build/intermediates/rs/
example/build/intermediates/shaders/
example/build/intermediates/transforms/instantRun/debug/folders/4000/
example/build/intermediates/transforms/instantRunDependenciesApk/
example/build/intermediates/transforms/instantRunSlicesApk/
example/build/tmp/
example/example-release.apk
example/example.iml
example/libs/
example/proguard-rules.pro
example/src/
gradle.properties
gradle/
gradlew
gradlew.bat
latte-annotations/build.gradle
latte-annotations/build/libs/
latte-annotations/build/tmp/compileJava/
latte-annotations/latte-annotations.iml
latte-annotations/src/
latte-compiler/build.gradle
latte-compiler/build/tmp/compileJava/
latte-compiler/latte-compiler.iml
latte-compiler/src/
latte-core/build.gradle
latte-core/build/generated/assets/
latte-core/build/generated/res/
latte-core/build/generated/source/aidl/
latte-core/build/generated/source/buildConfig/androidTest/
latte-core/build/generated/source/buildConfig/debug/
latte-core/build/generated/source/r/androidTest/
latte-core/build/generated/source/r/debug/
latte-core/build/generated/source/rs/
latte-core/build/intermediates/annotations/
latte-core/build/intermediates/blame/res/debug/multi/values-ldltr-v21.json
latte-core/build/intermediates/blame/res/debug/multi/values-lo-rLA.json
latte-core/build/intermediates/blame/res/debug/multi/values-lt.json
latte-core/build/intermediates/blame/res/debug/multi/values-lv.json
latte-core/build/intermediates/blame/res/debug/multi/values-mk-rMK.json
latte-core/build/intermediates/blame/res/debug/multi/values-ml-rIN.json
latte-core/build/intermediates/blame/res/debug/multi/values-mn-rMN.json
latte-core/build/intermediates/blame/res/debug/multi/values-mr-rIN.json
latte-core/build/intermediates/blame/res/debug/multi/values-ms-rMY.json
latte-core/build/intermediates/blame/res/debug/multi/values-my-rMM.json
latte-core/build/intermediates/blame/res/debug/multi/values-nb.json
latte-core/build/intermediates/blame/res/debug/multi/values-ne-rNP.json
latte-core/build/intermediates/blame/res/debug/multi/values-night-v8.json
latte-core/build/intermediates/blame/res/debug/multi/values-nl.json
latte-core/build/intermediates/blame/res/debug/multi/values-pa-rIN.json
latte-core/build/intermediates/blame/res/debug/multi/values-pl.json
latte-core/build/intermediates/blame/res/debug/multi/values-port.json
latte-core/build/intermediates/blame/res/debug/multi/values-pt-rBR.json
latte-core/build/intermediates/blame/res/debug/multi/values-pt-rPT.json
latte-core/build/intermediates/blame/res/debug/multi/values-pt.json
latte-core/build/intermediates/blame/res/debug/multi/values-ro.json
latte-core/build/intermediates/blame/res/debug/multi/values-ru.json
latte-core/build/intermediates/blame/res/debug/multi/values-si-rLK.json
latte-core/build/intermediates/blame/res/debug/multi/values-sk.json
latte-core/build/intermediates/blame/res/debug/multi/values-sl.json
latte-core/build/intermediates/blame/res/debug/multi/values-sq-rAL.json
latte-core/build/intermediates/blame/res/debug/multi/values-sr.json
latte-core/build/intermediates/blame/res/debug/multi/values-sv.json
latte-core/build/intermediates/blame/res/debug/multi/values-sw.json
latte-core/build/intermediates/blame/res/debug/multi/values-sw600dp-v13.json
latte-core/build/intermediates/blame/res/debug/multi/values-ta-rIN.json
latte-core/build/intermediates/blame/res/debug/multi/values-te-rIN.json
latte-core/build/intermediates/blame/res/debug/multi/values-th.json
latte-core/build/intermediates/blame/res/debug/multi/values-tl.json
latte-core/build/intermediates/blame/res/debug/multi/values-tr.json
latte-core/build/intermediates/blame/res/debug/multi/values-uk.json
latte-core/build/intermediates/blame/res/debug/multi/values-ur-rPK.json
latte-core/build/intermediates/blame/res/debug/multi/values-uz-rUZ.json
latte-core/build/intermediates/blame/res/debug/multi/values-v11.json
latte-core/build/intermediates/blame/res/debug/multi/values-v12.json
latte-core/build/intermediates/blame/res/debug/multi/values-v13.json
latte-core/build/intermediates/blame/res/debug/multi/values-v14.json
latte-core/build/intermediates/blame/res/debug/multi/values-v16.json
latte-core/build/intermediates/blame/res/debug/multi/values-v17.json
latte-core/build/intermediates/blame/res/debug/multi/values-v18.json
latte-core/build/intermediates/blame/res/debug/multi/values-v21.json
latte-core/build/intermediates/blame/res/debug/multi/values-v22.json
latte-core/build/intermediates/blame/res/debug/multi/values-v23.json
latte-core/build/intermediates/blame/res/debug/multi/values-v24.json
latte-core/build/intermediates/blame/res/debug/multi/values-v25.json
latte-core/build/intermediates/blame/res/debug/multi/values-vi.json
latte-core/build/intermediates/blame/res/debug/multi/values-xhdpi-v4.json
latte-core/build/intermediates/blame/res/debug/multi/values-xlarge-v4.json
latte-core/build/intermediates/blame/res/debug/multi/values-xxhdpi-v4.json
latte-core/build/intermediates/blame/res/debug/multi/values-zh-rCN.json
latte-core/build/intermediates/blame/res/debug/multi/values-zh-rHK.json
latte-core/build/intermediates/blame/res/debug/multi/values-zh-rTW.json
latte-core/build/intermediates/blame/res/debug/multi/values-zh.json
latte-core/build/intermediates/blame/res/debug/multi/values-zu.json
latte-core/build/intermediates/blame/res/debug/multi/values.json
latte-core/build/intermediates/blame/res/debug/single/
latte-core/build/intermediates/blame/res/release/
latte-core/build/intermediates/bundles/
latte-core/build/intermediates/classes/
latte-core/build/intermediates/incremental-safeguard/
latte-core/build/intermediates/incremental/
latte-core/build/intermediates/jniLibs/
latte-core/build/intermediates/lint/
latte-core/build/intermediates/manifest/
latte-core/build/intermediates/manifests/
latte-core/build/intermediates/res/merged/androidTest/
latte-core/build/intermediates/res/merged/debug/anim-v21/
latte-core/build/intermediates/res/merged/debug/anim/
latte-core/build/intermediates/res/merged/debug/animator-v21/
latte-core/build/intermediates/res/merged/debug/color-v11/
latte-core/build/intermediates/res/merged/debug/color-v23/
latte-core/build/intermediates/res/merged/debug/color/
latte-core/build/intermediates/res/merged/debug/drawable-anydpi-v21/
latte-core/build/intermediates/res/merged/debug/drawable-hdpi-v4/
latte-core/build/intermediates/res/merged/debug/drawable-ldpi-v4/
latte-core/build/intermediates/res/merged/debug/drawable-ldrtl-hdpi-v17/
latte-core/build/intermediates/res/merged/debug/drawable-ldrtl-mdpi-v17/
latte-core/build/intermediates/res/merged/debug/drawable-ldrtl-xhdpi-v17/
latte-core/build/intermediates/res/merged/debug/drawable-ldrtl-xxhdpi-v17/
latte-core/build/intermediates/res/merged/debug/drawable-ldrtl-xxxhdpi-v17/
latte-core/build/intermediates/res/merged/debug/drawable-mdpi-v4/
latte-core/build/intermediates/res/merged/debug/drawable-v21/
latte-core/build/intermediates/res/merged/debug/drawable-v23/
latte-core/build/intermediates/res/merged/debug/drawable-xhdpi-v4/
latte-core/build/intermediates/res/merged/debug/drawable-xxhdpi-v4/
latte-core/build/intermediates/res/merged/debug/drawable-xxxhdpi-v4/
latte-core/build/intermediates/res/merged/debug/drawable/abc_btn_borderless_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_btn_check_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_btn_colored_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_btn_default_mtrl_shape.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_list_selector_background_transition_holo_dark.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_list_selector_background_transition_holo_light.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_list_selector_holo_dark.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_list_selector_holo_light.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_ratingbar_indicator_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_ratingbar_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_ratingbar_small_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_seekbar_thumb_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_seekbar_tick_mark_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_seekbar_track_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_spinner_textfield_background_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_switch_thumb_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_tab_indicator_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_text_cursor_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_textfield_search_material.xml
latte-core/build/intermediates/res/merged/debug/drawable/abc_vector_test.xml
latte-core/build/intermediates/res/merged/debug/drawable/btn_border.xml
latte-core/build/intermediates/res/merged/debug/drawable/btn_border_nativephoto.xml
latte-core/build/intermediates/res/merged/debug/drawable/btn_border_takephoto.xml
latte-core/build/intermediates/res/merged/debug/drawable/design_bottom_navigation_item_background.xml
latte-core/build/intermediates/res/merged/debug/drawable/design_fab_background.xml
latte-core/build/intermediates/res/merged/debug/drawable/design_password_eye.xml
latte-core/build/intermediates/res/merged/debug/drawable/design_snackbar_background.xml
latte-core/build/intermediates/res/merged/debug/drawable/navigation_empty_icon.xml
latte-core/build/intermediates/res/merged/debug/drawable/notification_bg.xml
latte-core/build/intermediates/res/merged/debug/drawable/notification_bg_low.xml
latte-core/build/intermediates/res/merged/debug/drawable/notification_icon_background.xml
latte-core/build/intermediates/res/merged/debug/drawable/notification_tile_bg.xml
latte-core/build/intermediates/res/merged/debug/drawable/ucrop_shadow_upside.xml
latte-core/build/intermediates/res/merged/debug/drawable/ucrop_vector_ic_crop.xml
latte-core/build/intermediates/res/merged/debug/drawable/ucrop_vector_loader.xml
latte-core/build/intermediates/res/merged/debug/drawable/ucrop_vector_loader_animated.xml
latte-core/build/intermediates/res/merged/debug/layout-sw600dp-v13/
latte-core/build/intermediates/res/merged/debug/layout-v11/
latte-core/build/intermediates/res/merged/debug/layout-v16/
latte-core/build/intermediates/res/merged/debug/layout-v21/
latte-core/build/intermediates/res/merged/debug/layout/abc_action_bar_title_item.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_action_bar_up_container.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_action_bar_view_list_nav_layout.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_action_menu_item_layout.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_action_menu_layout.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_action_mode_bar.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_action_mode_close_item_material.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_activity_chooser_view.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_activity_chooser_view_list_item.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_alert_dialog_material.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_alert_dialog_title_material.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_dialog_title_material.xml
latte-core/build/intermediates/res/merged/debug/layout/abc_expanded_menu_layout.xml
latte-core/build/intermediates/rs/
latte-core/build/intermediates/shaders/
latte-core/build/intermediates/transforms/mergeJavaRes/
latte-core/build/intermediates/transforms/mergeJniLibs/
latte-core/build/tmp/
latte-core/latte-core.iml
latte-core/proguard-rules.pro
latte-core/src/androidTest/
latte-core/src/main/AndroidManifest.xml
latte-core/src/main/java/com/flj/latte/activities/
latte-core/src/main/java/com/flj/latte/app/
latte-core/src/main/java/com/flj/latte/delegates/
latte-core/src/main/java/com/flj/latte/net/
latte-core/src/main/java/com/flj/latte/ui/
latte-core/src/main/java/com/flj/latte/util/callback/
latte-core/src/main/java/com/flj/latte/util/dimen/
latte-core/src/main/java/com/flj/latte/util/file/
latte-core/src/main/java/com/flj/latte/util/log/
latte-core/src/main/java/com/flj/latte/util/storage/
latte-core/src/main/java/com/flj/latte/util/timer/
latte-core/src/mai
n/java/com/flj/latte/wechat/
latte-core/src/main/res/
latte-core/src/test/
latte-ec/build.gradle
latte-ec/build/cache/
latte-ec/build/generated/assets/
latte-ec/build/generated/res/
latte-ec/build/generated/source/aidl/
latte-ec/build/generated/source/buildConfig/androidTest/
latte-ec/build/generated/source/buildConfig/debug/
latte-ec/build/generated/source/greendao/
latte-ec/build/generated/source/r/androidTest/
latte-ec/build/generated/source/r/debug/
latte-ec/build/generated/source/rs/
latte-ec/build/intermediates/annotations/
latte-ec/build/intermediates/bundles/debug/aidl/
latte-ec/build/intermediates/bundles/default/aidl/
latte-ec/build/intermediates/bundles/default/jni/
latte-ec/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
latte-ec/build/intermediates/incremental/packageDebugAndroidTest/
latte-ec/build/intermediates/incremental/processDebugAndroidTestResources/
latte-ec/build/intermediates/incremental/processDebugResources/
latte-ec/build/intermediates/incremental/processReleaseResources/
latte-ec/build/intermediates/jniLibs/
latte-ec/build/intermediates/lint/
latte-ec/build/intermediates/manifest/
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/no_anim.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/pop_exit_no_anim.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/push_bottom_in.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/push_bottom_out.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/ucrop_loader_circle_path.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/ucrop_loader_circle_scale.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/v_fragment_enter.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/v_fragment_exit.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/v_fragment_pop_enter.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/anim/v_fragment_pop_exit.xml
latte-ec/build/intermediates/res/merged/androidTest/debug/animator-v21/
latte-ec/build/intermediates/res/merged/androidTest/debug/color-v11/
latte-ec/build/intermediates/res/merged/androidTest/debug/color-v23/
latte-ec/build/intermediates/res/merged/androidTest/debug/color/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-anydpi-v21/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-hdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-ldpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-ldrtl-hdpi-v17/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-ldrtl-mdpi-v17/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-ldrtl-xhdpi-v17/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-ldrtl-xxhdpi-v17/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-ldrtl-xxxhdpi-v17/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-mdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-v21/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-v23/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-xhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-xxhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable-xxxhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/drawable/
latte-ec/build/intermediates/res/merged/androidTest/debug/layout-sw600dp-v13/
latte-ec/build/intermediates/res/merged/androidTest/debug/layout-v11/
latte-ec/build/intermediates/res/merged/androidTest/debug/layout-v16/
latte-ec/build/intermediates/res/merged/androidTest/debug/layout-v21/
latte-ec/build/intermediates/res/merged/androidTest/debug/layout/
latte-ec/build/intermediates/res/merged/androidTest/debug/menu/
latte-ec/build/intermediates/res/merged/androidTest/debug/mipmap-hdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/mipmap-mdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/mipmap-xhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/mipmap-xxhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/mipmap-xxxhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-af/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-am/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ar/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-az-rAZ/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-b+sr+Latn/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-be-rBY/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-bg/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-bn-rBD/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-bs-rBA/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ca/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-cs/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-da/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-de/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-el/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-en-rAU/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-en-rGB/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-en-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-en/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-es-rUS/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-es/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-et-rEE/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-eu-rES/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-fa/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-fi/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-fr-rCA/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-fr/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-gl-rES/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-gu-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-h720dp-v13/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-hdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-hi/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-hr/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-hu/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-hy-rAM/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-in/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-is-rIS/
latte-ec/build/intermediates/res/merged/androidTest/debu
g/values-it/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-iw/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ja/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ka-rGE/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-kk-rKZ/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-km-rKH/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-kn-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ko/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ky-rKG/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-land/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-large-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ldltr-v21/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-lo-rLA/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-lt/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-lv/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-mk-rMK/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ml-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-mn-rMN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-mr-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ms-rMY/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-my-rMM/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-nb/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ne-rNP/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-night-v8/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-nl/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-pa-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-pl/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-port/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-pt-rBR/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-pt-rPT/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-pt/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ro/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ru/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-si-rLK/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sk/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sl/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sq-rAL/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sr/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sv/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sw/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-sw600dp-v13/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ta-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-te-rIN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-th/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-tl/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-tr/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-uk/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-ur-rPK/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-uz-rUZ/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v11/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v12/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v13/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v14/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v16/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v17/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v18/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v21/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v22/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v23/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v24/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-v25/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-vi/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-xhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-xlarge-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-xxhdpi-v4/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-zh-rCN/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-zh-rHK/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-zh-rTW/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-zh/
latte-ec/build/intermediates/res/merged/androidTest/debug/values-zu/
latte-ec/build/intermediates/res/merged/androidTest/debug/values/
latte-ec/build/intermediates/res/merged/debug/
latte-ec/build/intermediates/res/merged/release/
latte-ec/build/intermediates/res/resources-debug-androidTest.ap_
latte-ec/build/intermediates/rs/
latte-ec/build/intermediates/shaders/
latte-ec/build/intermediates/symbols/
latte-ec/build/intermediates/transforms/
latte-ec/build/outputs/
latte-ec/build/tmp/
latte-ec/latte-ec.iml
latte-ec/libs/
latte-ec/proguard-rules.pro
latte-ec/src/
latte-ui/build.gradle
latte-ui/build/generated/assets/
latte-ui/build/generated/res/
latte-ui/build/generated/source/aidl/
latte-ui/build/generated/source/buildConfig/androidTest/
latte-ui/build/generated/source/buildConfig/debug/
latte-ui/build/generated/source/r/androidTest/
latte-ui/build/generated/source/r/debug/
latte-ui/build/generated/source/rs/
latte-ui/build/intermediates/
latte-ui/build/outputs/
latte-ui/build/tmp/
latte-ui/latte-ui.iml
latte-ui/proguard-rules.pro
latte-ui/src/
local.properties
settings.gradle
